html {
	font-family:sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}

body{
	margin:0
}

h1{
	text-align: center;
	color: #b30047;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 48px;
}

.contain {
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto
}

ul.topnav{
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #003366;
	position: relative;
	top: 0;
	margin-top: 0;
	width: 100%;
}

ul.topnav li{
	float: left;
	padding-right: 30px;
}

ul.topnav li a{
	margin-top: 250px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	color: white;
	text-align: center;
	padding: 24px 32px;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 32px;

	
	}
.right{
	float: right;
	padding-right: 150px;
}
.left{
	float: left;
	padding-left: 180px;
}
ul.topnav li a:hover{
	font-weight: bold;
	color: white;
	font-size: 34px;
}
ul.topnav li a:active{
	font-weight: bold;
	color: white;
	font-size: 34px;
}

.img-circle{
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(assets/CYMERA_20160710_195332.jpg) no-repeat center center;
	margin-top: 40px;
	margin-left: 80px;
	margin-right: auto;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	shape-image-threshold: 
}

.img-response{
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:block;
	max-width:100%;
	
	
}
ul.topnav li img{
	vertical-align: middle;
}

.row{
	margin-right:-5px;
	margin-left:-5px
	
}

#hex1 {
  width: 75px;
  height: 75px;
}

#color1{

}

.hexagon-wrapper {
  text-align: center;
  margin: 20px;
  position: relative;
  display: inline-block;
}

.hexagon {
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block;
  background: url("assets/Aj.jpg");
}

.hexagon:before {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(60deg);
}

.hexagon:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(-60deg);
}

  .element{
  /* polygon responsive to font-size
  shape-outside: polygon(0 0, 0 100%, 100% 100%);
  width: 20em;
  height: 40em;
  
}*/
